# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/migrations/**/.env

# Build output
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
